body{
    padding: 20px;
}

.search-input{
    height: 35px;
    width: 50%;
    margin-left: 20%;
}

.post-title{
    color: #1a0dab;
}
.post-Content{
    color: #4d5156;
}

.post{
    display: flex;
}

.comments{
    color: #4e4e4e;
    height: 8px;
}

.circle{
    padding : 5px;
    margin-top: 30px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-style: double;
}